body {
  width: 100vw;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}
.cell:hover {
  background-color: #8cd5f8;
}
.cell img {
  max-width: 100px;
  max-height: 100px;
}
.winning-cell {
  background-color: #8cd5f8;
}
button {
  position: relative;
  left: 47vw;
  top: 20px;
}
#startButton {
  border: none;
  border-radius: 10px;
  background-color: aquamarine;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
}
#resetButton {
  border: none;
  border-radius: 10px;
  background-color: #dec984;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
}
#status {
  display: flex;
  justify-content: center;
}
#playerTurn {
  position: relative;
  display: inline;
  left: 37%;
}
.container {
  position: relative;
  top: 25vh;
  width: 100vw;
}
